body {
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
	color: #555;
	font-family: Public Sans, "Public Sans Fallback: Arial", ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.c-full {
	margin-right: -15px;
	margin-left: -15px;
}

p {
	color: #555;
}

.text-content {
	color: #555;
}

.sidebar {
	height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
	overflow-x: auto;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    align-content: flex-start;
	height: 8rem;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.sidebar-header .knfs-logo {
	height: 25px !important;
	padding: 0 !important;
	margin: 0px !important;
}

.sidebar-header .knfs-logo img {
	vertical-align: middle;
	height: 5rem !important;
}

.bami {
	color: #013C4D;
}

.mi {
	color: #2B7F84;
}

.i {
	color: #2B7F84;
}

a {
	color: #2B7F84;
}

.sidebar-content {
	column-gap: 1em;
}

.sidebar-content ul {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
	cursor: pointer;
	padding-left: 1.3em;
}

.sidebar-content li {
	list-style: none;
	padding: 0;
	margin-bottom: 0.3rem;
	color: #555;
}

.select-active {
	list-style: circle !important;
}

.side-parent {
	font-size: 16px;
	margin-bottom: 0.1rem;
	color: #2B7F84;
	font-weight: 500;
}

.select-content {
	cursor: pointer;
}

.sidebar-content-child a {
	text-decoration: none;
}

.sidebar-header .select-bar {
	display: none;
}

@media (max-width: 760px) {
	.sidebar {
		height: fit-content;
		overflow-x: none;
	}
	.sidebar-header {
		margin-bottom: 0em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		height: 6rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		align-content: flex-start;
	}
	.sidebar-content {
		display: none;
		max-height: 500px;
		overflow-x: auto;
	}
	.sidebar-header .select-bar {
		display: block;
		font-size: 50px;
		color: #013C4D;
	}

	#openSideBarContent {
		display: block;
	}

	#closeSideBarContent {
		display: none;
	}
}
.select-content a {
	color: #555;
	text-decoration: none
}

.main-content {
	background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
	width: 100%;
}

.main-content #content {
	padding-top: 2em;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	padding-bottom: 2em;
	scrollbar-width: none;
    -ms-overflow-style: none;
}

#content::-webkit-scrollbar {
	display: none
}

.page-body {
	width: 65%;
}

@media (max-width: 968px) {
	.page-body {
			width: 80%;
		}
}

@media (max-width: 768px) {
	.main-content {
		min-height: 600px;
		height: fit-content;
	}

	.main-content #content {
		height: fit-content;
	}

	.page-body {
		width: 100%;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.highlight-text {
	font-size: 23px !important;
}

.code-container {
	position: relative;
	margin-bottom: 1rem;
}

.copy-button {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1000;
	border: none;
	background-color: transparent;
	color: #a9a5a5;
}

.copy-button:hover {
	cursor: pointer;
	color: #7c7878;
	background-color: transparent;
}

.copy-button:active {
	cursor: pointer;
	color: #5e5b5b;
	background-color: transparent;
}

.copy-button:focus {
	cursor: pointer;
	color: #5e5b5b;
	background-color: transparent;
	outline: none;
}

.note-text {
	margin-left: 1em; 
	margin-bottom: 1em;
}
/* .code-container-group {
} */

.next-step {
	padding: 1.5em;
}

.next-step li {
	padding-bottom: 1em;
}

#architectureImage {
	width: 100%;
}

#search {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid;
}

#search:focus,
#search:active {
	border:3px #013C4D;
	outline: 2px #013C4D;
}

#search input {
	width: 90%;
    height: 100%;
	border: none;
	padding-left: 1em;
	padding-right: 1em;
}

#search input:focus,
#search input:active {
	outline: none;
	border: none;
	box-shadow: none;
}

#clearSearch {
	width: 10%;
	cursor: pointer;
}

.highlight-text {
	background-color: #2B7F84 !important;
}

footer {
	background-color: #f9f9f9;
	color: #013c4d;
	padding: 1rem;
	text-align: center;
}